BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

BinPackArguments: false
BinPackParameters: false
Cpp11BracedListStyle: false
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 4
AccessModifierOffset: -4
IndentAccessModifiers: false
ContinuationIndentWidth: 4
IndentWrappedFunctionNames: false
BreakBeforeBinaryOperators: None
AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
AlignTrailingComments: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: false
AlignEscapedNewlines: DontAlign
